[submodule ".idea"]
	path = .idea
	url = https://github.com/raphaelcohn/intellij-project-template.git
[submodule "library/java-classfile"]
	path = library/java-classfile
	url = https://github.com/raphaelcohn/java-classfile.git
[submodule "library/jopt-simple"]
	path = library/jopt-simple
	url = https://github.com/raphaelcohn/intellij-library-jopt-simple.git
[submodule "library/charsetDetector"]
	path = library/charsetDetector
	url = https://github.com/raphaelcohn/charsetDetector.git
