[submodule ".idea"]
	path = .idea
	url = https://github.com/raphaelcohn/intellij-project-template.git
[submodule "library/java-classfile"]
	path = library/java-classfile
	url = https://github.com/raphaelcohn/java-classfile.git
[submodule "library/jopt-simple"]
	path = library/jopt-simple
	url = https://github.com/raphaelcohn/intellij-library-jopt-simple.git
[submodule "examples/llvm.tmbundle"]
	path = examples/llvm.tmbundle
	url = https://github.com/whitequark/llvm.tmbundle
[submodule "source/tuples"]
	path = source/tuples
	url = https://github.com/raphaelcohn/tuples.git
[submodule "source/functions"]
	path = source/functions
	url = https://github.com/raphaelcohn/functions.git
[submodule "source/byteReaders"]
	path = source/byteReaders
	url = https://github.com/raphaelcohn/byteReaders.git
